{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-mod-6">
        <div class="card card-body">


            <p>Are you sure you want to delete {{ item.product.name }} ?</p>
            <form method="POST" action="{% url 'delete_order' item.id %}">
                {% csrf_token %}
                <a href='{% url ' home' %}' class="btn btn-sm btn-warning">Cancel</a>
                <button type="submit" class="btn btn-sm btn-danger" name="Confirm">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}